:root {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #484092;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  padding: 1rem;
  color: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50vw;
  max-width: 100vw;
  overflow-y: scroll;
}

.list h1 {
  text-align: center;
  font-size: 4rem;
}

.list p {
  text-align: center;
  font-size: 1.6rem;
}

.list .modal {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 100vw;
  height: 0vh;
  background: #edeef0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #33a16a;
}

.list .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .modal form input {
  height: 4vh;
  width: 50%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #33a16a;
}

.list .modal form button {
  width: 4vh;
  height: 100%;
  margin-left: 1vh;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #33a16a;
  color: white;
  font-size: 2rem;
}

.list .modal_show {
  -webkit-transition: 3.3s height ease;
  transition: 3.3s height ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.list .additem {
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  width: 100%;
  height: 50px;
  background: #56921a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  text-align: center;
  line-height: 175%;
  font-size: 3em;
  cursor: pointer;
}

.list .additem:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #2caf2c;
}

.list .listitem {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(221, 221, 221, 0.205)), to(rgba(221, 221, 221, 0)));
  background: linear-gradient(90deg, rgba(221, 221, 221, 0.205), rgba(221, 221, 221, 0));
}

.list .listitem .todo {
  margin-left: 1vw;
  font-size: 2.7rem;
  max-width: 70%;
}

.list .listitem .buttonbox {
  height: 100%;
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list .listitem .buttonbox .complete {
  background: greenyellow;
}

.list .listitem .buttonbox .complete:hover {
  background: rgba(172, 255, 47, 0.315);
}

.list .listitem .buttonbox .uncomplete {
  background: yellow;
}

.list .listitem .buttonbox .uncomplete:hover {
  background: rgba(255, 255, 0, 0.315);
}

.list .listitem .buttonbox .remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d44242;
  position: relative;
}

.list .listitem .buttonbox .remove:hover {
  background: #7e0c0c;
}

.list .listitem .buttonbox .remove .left,
.list .listitem .buttonbox .remove .right {
  height: 2vh;
  width: 0.3vh;
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: auto;
  right: auto;
  margin: auto;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.list .listitem .buttonbox .remove .left {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.list .listitem .buttonbox .remove .right {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.list .listitem .buttonbox .remove:hover > .left {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.list .listitem .buttonbox .remove:hover > .right {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.list .listitem .buttonbox .complete,
.list .listitem .buttonbox .remove,
.list .listitem .buttonbox .uncomplete {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
  cursor: pointer;
  margin-left: 1vw;
}

.list .listitem .buttonbox .remove:hover,
.list .listitem .buttonbox .uncomplete:hover,
.list .listitem .buttonbox .complete:hover {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
/*# sourceMappingURL=style.css.map */